<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338295389405-0clc4onrm553f9ih5bu18s0i6pij8p0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338295389405-0clc4onrm553f9ih5bu18s0i6pij8p0s</string>
	<key>API_KEY</key>
	<string>AIzaSyBz9TJBgnuftSyJPsgCUNNGia9ZaDg9koA</string>
	<key>GCM_SENDER_ID</key>
	<string>338295389405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mybus</string>
	<key>PROJECT_ID</key>
	<string>wikibus-7ac7e</string>
	<key>STORAGE_BUCKET</key>
	<string>wikibus-7ac7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338295389405:ios:726992dba1ee1c1ee12f34</string>
</dict>
</plist>